/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Kanit:wght@200;300;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kanit', sans-serif; */
font-family: 'Fredoka One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kanit', sans-serif;
}

.navbar{
background-color: #003580;
  height: 50px;
  display: flex;
  justify-content: center;
 
}

.navContainer{

  width:100%;
  max-width: 1024px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo{
font-weight: 500;
}



.btnNav{

  margin-left: 20px ;
  border:none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.header{

  background-color: #003580;
  display: flex;
  color:white;
  justify-content: center;
position: relative;
}

.headerContainer{

  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px
}

.headerList{

  display: flex;
  align-items: center;
  gap: 40px ;
  margin-bottom: 20px;
}

.headerListItem{

  display: flex;
  align-self: center;
  gap: 10px
}

.headerListItem.active{

  border: 1px solid white;
  border-radius: 20px;

  padding: 10px;
}

.headerDesc{

  margin: 20px 0;
}

.headerbtn{

  background-color: #0071c2;
  color:white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
  
}



.HeaderSearch{

  height: 30px;
  background-color:white;
  border: 3px solid rgb(251, 188, 94);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:20px 0;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
  border-radius: 5px;
}

.searchicon{

  color: lightgrey;
}

.HeaderSearchItem{

  display: flex;
 align-items: center;
 gap: 10px;
}

.HeaderSearchItem input{

  border: none;
  outline: none;

}

.HeaderSearchItem span{

  color: lightgray;
}

.date{

  position: absolute;
  top: 50px;
}

.options{
background-color: white;
position: absolute;
top: 50px;
  color: gray;
  border-radius: 5px;
}


.optionItem{

  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;

}

.opptionCounterBtn{


  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color:#0071c2;
  cursor: pointer;  
  background-color: white!important;
}

.optionCounterWrap{

  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;



}